<template name="about">
<div class="row">

	<h2 class="text-center">Hello. My name is [Taras Krasnytsia]. A glad to see you in my page</h2>
	<div class="col-md-4">
		<img src="http://lorempixel.com/300/300" class="img-responsive center-block" alt="my-photo" />
	</div>
	<div class="col-md-8">
		<table class="table">
			<tr>
				<th>Вік:</th>
				<td>[21 років]</td>
			</tr>
			<tr>
				<th>Country:</th>
				<td>[Ukraine]</td>
			</tr>
			<tr>
				<th>City:</th>
				<td>[Ternopil]</td>
			</tr>
			<tr>
				<th>Education:</th>
				<td>[TNYU Ivana Pulyua]</td>
			</tr>
			<tr>
				<th>Languages:</th>
				<td>[Ukrainian,Russion,English</td>
			</tr>
			<tr>
				<th>I like:</th>
				<td>[Football,Programing,Read books]</td>
			</tr>
		</table>
	</div>
	</div>
</template>