 <template name="MasterLayout">

 <div class="page-wrap">
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
        		{{> social}}
                </div>
            </div>
        </div>
        {{>header}}
        <div class="container-fluid" id="section">
            <section class="container">
         
  {{> yield}}
            </section>

        </div>
    </div>

    <div id="footer">
        <div class="container">
        <div class="row">
          <p class="text-center">Copyright  &#169; 2015 . All right reserved.</p>
          </div>
        </div>
	<div>
</div>
</div>




</template>