<template name="header">
  <div  id="menu">
    <nav class="navbar ">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a  class="navbar-brand nav-item" href="{{pathFor 'about'}}" >[Taras Krasnytsia]</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse top-menu" aria-expanded="false" style="height: 1px;">

        <ul class="nav navbar-nav navbar-right ">
          <li><a class="nav-item" href="{{pathFor 'technology'}}">Technology</a></li>
          <li><a class="nav-item"  href="{{pathFor 'projects'}}">My Projects</a></li>
          <li><a class="nav-item"  href="{{pathFor 'contact'}}">Contact me</a></li>      
        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <!--header-middle-->
  </div>
</template>